<div class="row align-items-center" style="height:100%">
  <div class="col-md-6">
      <h1 style="font-size:800%; text-align:center;"><strong>Here</strong></h1>
      <h3 style="text-align:center;">God version</h3>
  </div>
  <div class="col-md-6">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-group">
        <%= f.email_field :email, autofocus: true, :placeholder => "Email", :class => "form-control"%>
      </div>
      <div class="form-group">
        <%= f.password_field :password, autocomplete: "off", :placeholder => "Password", :class => "form-control" %>
      </div>
      <% if devise_mapping.rememberable? -%>
        <div class="form-check">
          <%= f.check_box :remember_me, :class => "form-check-input" %>
          <%= f.label :remember_me, :class => "form-check-label" %>
        </div>
      <% end -%>
      <br>
      <div class="actions">
        <%= f.submit "Log in", :class => "btn btn-dark"%>
      </div>
    <% end %>
  </div>
</div>